# git
.gitignore
.gitattributes

# Babel
.babelrc

# Travis CI
.travis.yml

# test coverage folder
/coverage/

# npm errors
npm-debug.log

# for OS X users
.DS_Store

# webpack config
/webpack.config.babel.js

/test/
/source/
*.test.js

# Sublime
*.sublime-workspace
*.sublime-project
